.contactItem {
  display: flex;
  gap: 10px;
  min-width: 250px;
  justify-content: space-between;
  align-items: flex-end;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.contactItem:hover,
.contactItem:focus {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: #e0e0e0;
}

.contactText {
  display: flex;
  gap: 5px;
  flex-direction: column;
  text-align: center;
}

.contactName {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  color: #333;
}

.contactNumber {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #555;
}
.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contactBtnDel {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  border: none;
  border-radius: 50%;
  background-color: #ff000080;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.contactBtnAdd {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  border: none;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.contactBtnDel:hover,
.contactBtnDel:focus {
  background-color: #b30000de;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contactBtnAdd:hover,
.contactBtnAdd:focus {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
